{% load static %}

    <h1 color="#FFFFFF" align="center">Perm : {{requested_perm.nom}}</h1>

    <p align="left">
        <b>Organisateur</b>
        {% if requested_perm.asso %}
        Association: Oui
        {% else %}
        Association: Non
        {% endif %}
    </p>
    
    <p align="left">
        <b>Thème de la perm</b>  
        {{requested_perm.theme}}
    </p>
    <p align="left">
        <b>Description</b>
        {{requested_perm.description}}
    </p>
    <p align="left">
        <b>Lourdeur</b>
        {{requested_perm.ambiance}}/5
    </p>
    <p align="left">
        <b>Période privilégiée</b>
        {{requested_perm.periode}}
    </p>
    <p align="left">
        <b>Responsables</b>
        {{requested_perm.nom_resp}} ({{requested_perm.mail_resp}})
        <br>
        {{requested_perm.nom_resp_2}} ({{requested_perm.mail_resp_2}})
    </p>
    <p align="left">
        <b>Permanenciers</b>
       {{requested_perm.membres}}
    </p>

